{% extends "base.html" %}
{% block conteudo %}

	<div class="content">
		<div class="container-fluid">
			<div class="row">

				<form method="post" action="/salvar_venda_nova">
					<div class="form-row">
						<label>Mesa</label>
						<div class="col-auto my-1" data-validate = "required">
							<label class="mr-sm-2 sr-only">Preference</label>
							<select class="custom-select mr-sm-2" name="mesas">
								<option selected>Choose...</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
							</select>
						</div><br>

					<div class="form-group">
						<label for="Comanda">Comanda nova</label>
						<input type="text" class="form-control" name="comandaNova" id="comandaNova">
					</div>

					<div class="form-row">
						<label>Comanda aberta</label>
						<div class="col-auto my-1">
							<label class="mr-sm-2 sr-only" for="comandaAberta">Preference</label>
							<select class="custom-select mr-sm-2" name ="comandaAberta" id="comandaAberta">
								<option selected>Choose...</option>
								{% for comanda in comandas_abertas %}
									<option value="1">{{comanda}}</option>
								{% endfor %}
							</select>
						</div><br>

					<div class="form-row">
						<label>Pedido</label>
						<div class="col-auto my-1" data-validate = "required">
							<label class="mr-sm-2 sr-only" for="escolhaPedido">Preference</label>
							<select class="custom-select mr-sm-2" id="escolhaPedido" name="escolhaPedido">
								<option selected>Choose...</option>
								<option value="Bebida">Bebida</option>
								<option value="Comida">Comida</option>
								<option value="Cachaca">Cachaça</option>
							</select>
						</div><br>
						
						<div class="col-auto my-1" style="display: none;" id="bebidas">
							<label>Bebidas</label>
							<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
							<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="bebidas">
								<option selected>Choose...</option>
								{% for item in bebidas["PEDIDO"] %}
									<option value="{{item}}">{{item}}</option>
								{% endfor %}
							</select>
						</div>
						
						<div class="col-auto my-1" style="display: none;" id="comidas">
							<label for="Mesa">Comidas</label>
							<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
							<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="comidas">
								<option selected>Choose...</option>
								{% for item in comidas["PEDIDO"] %}
									<option value="{{item}}">{{item}}</option>
								{% endfor %}
							</select>
						</div>				

						<div class="col-auto my-1" style="display: none;" id="cachacas">
							<label for="Mesa">Cachaças</label>
							<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
							<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="cachacas">
								<option selected>Choose...</option>
								{% for item in cachacas["PEDIDO"] %}
									<option value="{{item}}">{{item}}</option>
								{% endfor %}
							</select>
						</div>

					</div><br>

					<div class="form-group" data-validate = "required">
						<label for="Comanda">Quantidade</label>
						<input type="text" class="form-control" id="quantidade" name="quantidade">
					</div>
					<div class="form-group">
						<label for="Comanda">Valor</label>
						R$10,00
					</div>
					<button type="submit" class="btn btn-primary">Criar venda</button>
				</form>

			</div>
		</div>

	<script type="text/javascript">
		window.onload = function() {
			var eSelect = document.getElementById('escolhaPedido');
			var optOtherReason1 = document.getElementById('bebidas');
			var optOtherReason2 = document.getElementById('comidas');
			var optOtherReason3 = document.getElementById('cachacas');
			eSelect.onchange = function() {
				if(eSelect.selectedIndex === 1) {
					optOtherReason1.style.display = 'block';
				} else {
					optOtherReason1.style.display = 'none';
				}
				if(eSelect.selectedIndex === 2) {
					optOtherReason2.style.display = 'block';
				} else {
					optOtherReason2.style.display = 'none';
				}
				if(eSelect.selectedIndex === 3) {
					optOtherReason3.style.display = 'block';
				} else {
					optOtherReason3.style.display = 'none';
				}
			}
		}
	</script>


{% endblock %}
