{% extends "base.html" %}
{% block conteudo %}


        <div class="content">

            <div class="container-fluid">
            
                <div class="row">
                {% for index, row in CSV.iterrows() %}
                    <div class="col-md-12">
                        
                        <div class="card">
                            
                            <div class="header">
                                <h4 class="title">Mesa {{ index }}</h4>
                            </div> 
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Pedido</th>
                                    	<th>Quantidade</th>
                                    	<th>Preço</th>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>{{ row["PRATOS"] }}</td>
                                            <td>{{ 3 }}</td>
                                            <td>{{ row["PREÇO"] }}</td>
                                            <td>1</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                {% endfor %}

<!--
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
-->

{% endblock %}