{% extends "base.html" %}
{% block conteudo %}

    <div class="content">

        <div class="container-fluid">
            
            <div class="row">
                
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        
                        <div class="header">
                            <p class="icon-big icon-info">
                                <i class="ti-save"></i>
                            <h4 class="title">Vendas salvas</h4>
                            </p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
-->

{% endblock %}